<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>WebRegistration.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checklogin</servlet-name>
        <servlet-class>WebRegistration.Checklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>WebRegistration.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>WebRegistration.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>WebRegistration.RemoveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>WebRegistration.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editlaptop</servlet-name>
        <servlet-class>WebRegistration.Editlaptop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartMobile</servlet-name>
        <servlet-class>WebRegistration.AddCartMobile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>WebRegistration.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyCart</servlet-name>
        <servlet-class>WebRegistration.ApplyCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTocart</servlet-name>
        <servlet-class>WebRegistration.AddTocart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>WebRegistration.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProduct</servlet-name>
        <servlet-class>WebRegistration.RemoveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Removeproduct2</servlet-name>
        <servlet-class>WebRegistration.Removeproduct2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart2</servlet-name>
        <servlet-class>WebRegistration.UpdateCart2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>WebRegistration.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment2</servlet-name>
        <servlet-class>WebRegistration.AddComment2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checklogin</servlet-name>
        <url-pattern>/Checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/RemoveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editlaptop</servlet-name>
        <url-pattern>/Editlaptop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartMobile</servlet-name>
        <url-pattern>/AddCartMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyCart</servlet-name>
        <url-pattern>/ApplyCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTocart</servlet-name>
        <url-pattern>/AddTocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProduct</servlet-name>
        <url-pattern>/RemoveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Removeproduct2</servlet-name>
        <url-pattern>/Removeproduct2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart2</servlet-name>
        <url-pattern>/UpdateCart2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment2</servlet-name>
        <url-pattern>/AddComment2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
